/* You can add global styles to this file, and also import other style files */

/* Footer */
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-left: auto;
    background-color: white;
}